$lightGreen: #b9e7e7;

.app {
    display: flex;
    justify-content: center;

    .link {
        text-decoration: none;
        color: inherit;
    }

    .container {
        width: 1024px;

        //Login & Register
        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $lightGreen;
            height: 100vh;

            h1 {
                font-size: 20px;
                color: teal;
                margin-bottom: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                background-color: #fff;
                padding: 50px;
                // width: 200px;
                gap: 20px;

                input {
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                }

                button {
                    padding: 10px;
                    cursor: pointer;
                    background-color: teal;
                    color: #fff;
                    border: none;
                }

                p {
                    font-size: 12px;
                    text-align: center;
                    color: red;
                }

                span {
                    font-size: 12px;
                    text-align: center;
                }
            }
        }

        //Navbar
        .navbar {
            .container {
                padding: 10px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .logo {
                    img {
                        width: 120px;
                    }
                }

                .links {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    h6 {
                        font-size: 16px;
                        font-weight: 300;
                    }

                    span {
                        cursor: pointer;
                    }

                    .write {
                        background-color: $lightGreen;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        font-weight: 300;
                        border: 1px solid white;

                        &:hover {
                            color: teal;
                            background-color: #fff;
                            border: 1px solid teal;
                        }
                    }
                }
            }
        }
    }
}